body{
	margin: 0;
	padding: 0;
	background: url(static/img/a.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
	
}

.LoginBox{

   
   width: 600px;
   height: 500px;
   background: rgba(255,255,255,.2);
   top: 40%;
   left: 50%;
   position: absolute;
   transform: translate(-50%,-50%);
   box-sizing: border-box;
   padding: 30px 10px;
   margin-top: 50px;
}


.text{
	text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}